/* Aligning all objects to center */
h1 {
    text-align: center;
    position: static;
}
/* class selector */
.boxLong{
    height: fit-content;

    grid-area: main;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: 1px;
    margin-right: 10px;
    /* Auto margins are available through 'margin: auto' */

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

    border-style: solid;
    border-color: rgb(90, 44, 197);
    border-radius: 4mm;
    border-width: .01in;
    display: block;
}
/* id selector */
#survey {
    background-color: rgb(241, 219, 192);
}
/* using universal selector for font*/
* {
    font-family: "Rosario", sans-serif;
}
/* Element selector*/
h2 {
    color: #CA3;
}
/* Attribute selector*/
h2[lang~="en-us"]{
    color: darkblue;
}
/* Pseudo-class Selector */
li:hover{
    color:coral;
}
button:active{
    background-color: blue;
    color: deeppink;
}
/* Selector list */
h1, h2, h3 {
    text-decoration: underline;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* Descendant Combinator */
boxShortAuto legend {
    color: rgb(92, 170, 96);
}
/* Child Combinator */
boxShortAuto > h3 {
    color: rgb(77, 109, 197);
    text-decoration:underline chocolate wavy;
    flex-basis:content;
    align-self: center;
    flex-grow: 10;
}
/* General sibling combinator */
boxShort ~ boxShort {
    background-color: rgba(211, 145, 158, 0.3);
}
/* Adjacent sibling combinator */
ul + details {
    background-color: rgba(248, 182, 0, 0.8);
}
/* Combining Two Selectors */
ul.ems{
    font-size: x-large;
    text-align: left;
}
/* media query for screen width, background goes gray if window is smaller, perhaps easier to read*/
@media screen and (max-width: 23cm) {
    header, .boxLong{
        background-color: rgb(181, 160, 184);
    }
}
video {
    display: block;
    margin: auto;
}
img {
    display: block;
    margin: auto;
}
.ems1 li{
    list-style-position: inside;
    font-size: .825em;                  /*em, vw, vh for relative units*/
}

.audioTab{
    text-align: center;
    list-style-position: inside;
}
/* body here */
.body{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}
boxShort{
    max-width: fit-content;
    min-width: none;
    text-align: center;
    display: inline-block;
    margin: 10px, 10px, 8px, 8px;
    padding: 25px, 25px, 15px, 25px;
    border: 2px none hsla(70, 51%, 51%, .4);
    position: sticky;
    grid-column: auto;
    grid-row: auto;
}
boxShortAuto{
    grid-area: header;
    max-width: fit-content;
    min-width: none;
    max-height: fit-content;
    text-align: center;
    margin: auto;
    padding: 10px;
    border: .1cm none rgb(186, 212, 69);
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
form button{
    background: darkgrey;
}
a:link{
    color: blue;
}
a:visited{
    color: rgb(223, 11, 194);
}
.left{
    text-align: left;
    list-style-position: inside;
}
header{
    width: 15vw
}