/* Aligning all objects to center */
h1 {
    text-align: center;
    text-decoration: underline;
    position: static;
}
h2 {
    /*text-align: center;*/
    color: #CA3;
}
h3 {
     /*text-align: center;*/
    color: rgb(156, 65, 65);
}
.center{
    /*text-align: center;*/
    list-style-position: inside;
}
.left{
    text-align: left;
    list-style-position: inside;
}
video {
    display: block;
    margin: auto;
}
img {
    display: block;
    margin: auto;
}
.ems li{
    list-style-position: inside;
    font-size: .825em;
}
.ol{
    flex-basis: auto;
    align-self: center;
    flex-grow: 10;
}
/*
.item{
    flex-basis: auto;
    align-self: center;
    flex-grow: 10;
}*/
.audioTab{
    text-align: center;
    list-style-position: inside;
}
/* body here */
body{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}
boxLong{
    grid-area: main;
    text-align: center;
    display: block;

    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px;
    /* Auto margins are available through 'margin: auto' */

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

    border-style: solid;
    border-color: rgb(90, 35, 218);
    border-radius: 4mm;
    border-width: .01in;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}
boxShort{
    max-width: fit-content;
    text-align: center;
    display: inline-block;
    margin: 10px, 10px, 8px, 10px;
    padding: 25px, 25px, 25px, 25px;
    border: 2px solid rgb(46, 40, 40);
    position: sticky;
}
boxShortAuto{
    grid-area: header;
    max-width: fit-content;
    max-height: fit-content;
    text-align: center;
    margin: auto;
    padding: 10px, 15px, 10px, 15px;
    border: 1px solid rgb(186, 212, 69);
    position: relative;

    display: block;

}
li:hover{
    color:coral;

}
button:active{
    color: deeppink;
}
form button{
    background: darkgrey;
}
a:link{
    color: blue;
}
a:visited{
    color: rgb(223, 11, 194);
}
/* using universal selector for font*/
* {
    font-family: "Rosario", sans-serif;
}
/* media query for screen width, background goes gray if window is smaller, perhaps easier to read*/
@media screen and (max-width: 30cm) {
    body{
        background-color: gray;
    }
}